# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.sw[op]
*~

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer & Cache
pip-log.txt
pip-delete-this-directory.txt
.ruff_cache/
.mypy_cache/
.dmypy.json
dmypy.json

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
coverage.xml
*sponge_log.xml

# Built documentation
docs/_build/
bigquery/docs/generated/
docs.metadata

# Jupyter & IPython
.ipynb_checkpoints
profile_default/
ipython_config.py

# Virtual environments & UV
.venv/
venv/
ENV/
uv.toml

# IDE & Editor files
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# OS specific
.DS_Store
.ds_store

# Environment & Secrets
.env
!.env.example
service_account.json

# GOE Runtime, Build & Packaging Targets
target/*
!target/Makefile
*.tmp
afiedt.buf
goe_*.tar.gz
tools/spark-listener/target/
tools/spark-listener/project/target/
tools/spark-listener/project/
system_tests/local_test_setup
LICENSE.txt

# Logs
*.log
log/
run/

# Gemini / Local Agent
.gemini/
